.navbar {
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom left, #E9F1FA , #00ABE4);
    padding: 15px;
}

.toptext {
    text-decoration: underline;
    text-underline-offset: 6px;
    
    
    
}

.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: lighter;
}