.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: aqua;
    padding: 15px; 
}

.logo {
    font-family: 'calibri';
    font-size: xx-large;
    padding: 10px;
    border-radius: 12px;
}

.navbutton {
    border-radius: 5px;
    background-color: mintcream;
    margin: 10px;
    padding: 8px;
    transition: 0.5s;
}

.navbutton:hover{
    background-color: aquamarine;
}